
## Visual Studio Temp Files
.vs/
[Bb]in/
[Obj]/
*.suo
*.user
*.userosscache
*.sln.docstates

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Publish Output
publish/

## Configuration Secrets
**/appsettings.Secrets.json